
/* Tables */

div.table, div.breadcrumbs, div.bottomMenuContainer, div.directive {
	height:0;
}
div.tr{
	height:0;
}
/* не для IE */
div.table[class], div.breadcrumbs[class], div.bottomMenuContainer[class], div.directive[class] {height:auto; display: table;}
div.tr[class] { height:auto; display: table-row;}
div.td[class], div.th[class] {float:none; display: table-cell;}

div.td, div.th{
	height: 100%;
	float: left;
}
