
{% if not archieve %}
    <p>Ничего нет</p>
{% else %}
    <div class="panel-group" id="arch">
    {% for year in archieve | sort(reverse=True) %}
        <div class="panel panel-collapse">
            <div class="panel-heading">
              <h3 class="panel-title">
                <a data-toggle="collapse" href="#collapse{{ year }}">
                  {{ year }}
                </a>
              </h3>
            </div>
            <div id="collapse{{ year }}" class="panel-collapse collapse{% if year == current_year %} in{% endif %}">
              <div class="panel-body">
                <ul class="nav">
                    {% for month in archieve[year] %}
                        <li><a href="#year={{ year }}&month={{ month[0] }}">{{ month | month_tuple_to_string }}</a></li>
                    {% endfor %}
                </ul>
              </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endif %}
