{% extends 'base.html' %}

# block scripts
<script>
    $(function () {
        $("#accordion").accordion({
            collapsible: true,
            heightStyle: "content"
        });
    });
</script>
# endblock

{% block head %}
    <link type="text/css" rel='stylesheet' href="/p/css/jquery-ui-1.10.3.custom.min.css">
{% endblock %}


{% block content %}
    {% strip %}
    <div class="row-fluid">
        <div class="span9">
            {% if not posts %}
                Ничего нет
            {% else %}
                <dl id="blog">
                    {% for post in posts.object_list %}
                        {% include 'news/post_box.html' %}
                    {% endfor %}
                </dl>
            {% endif %}
            {% include 'news/paginator.html' %}
        </div>
        <div class="span3">
            <h3>Метки</h3>
            {% include 'news/tags.html' %}
            <h3>Архив</h3>
            {% include 'news/archive.html' %}
        </div>
    </div>
    {% endstrip %}
{% endblock %}