{% extends 'base.html' %}

# block scripts
<script type="text/javascript">SyntaxHighlighter.all()</script>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
  {lang: 'ru'}
</script>
<script type="text/javascript">
function renderPlusone() {
    gapi.plusone.render("plusone-div", { "size": "small" });
}
renderPlusone();
</script>
# endblock

{% block content %}
    <div class="row-fluid">
        <div class="span9">
            {% if content %}
                {{ content|safe }}
            {% else %}
                {{ post.short_text|safe }}
            {% endif %}
            {% if post.tags %}
                <div class="well well-small">
                    Теги:&nbsp;
                    {% for tag in post.tags %}
                       <a href="{{ url_for('news.index') }}?tag={{ tag }}" class="btn">{{ tag }}</a>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="well well-small">
                <h3>
                    <small><i class="icon-calendar"></i> <span class="shortDateFormat">{{ post.created }}</span></small>
                    {% include 'bit/social.html' %}
                </h3>
            </div>
            {% include 'bit/big_banner.html' %}
        </div>
        <div class="span3">
            <h4>
                Из последнего
            </h4>
            <dl id="log">
                {% for post in last %}
                    {% include 'news/post_box.html' %}
                {% endfor %}
            </dl>
            <div class="span12">
                {% include 'bit/more_posts.html' %}
                <p/>
            </div>
            <div class="nav">
                {% include 'bit/small_banner.html' %}
            </div>
        </div>
    </div>
{% endblock %}
