{% if poster.has_pages %}
<!--noindex-->
    {% if request.tag %}
        {% set tag_query = "?tag=" %}
    {% else %}
        {% set tag_query = "" %}
    {% endif %}
    {% set older = "старее &rarr;" %}
    {% set newer = "&larr; новее" %}
    <ul class="pagination justify-content-center" id="blogPager">
        {% if poster.has_prev %}
            {% set li_class = "" %}

            {% if poster.prev_page == 1 %}
                {% set href = tag_query %}
            {% else %}
            {% set href = poster.prev_page ~ "/" ~ tag_query %}
            {% endif %}
        {% else %}
            {% set li_class = "disabled" %}
            {% set href = "#" %}
        {% endif %}
        <li class="{{ li_class }} page-item">
            <a href="{{path_for(id='blog') | safe}}{% if poster.prev_page > 1 %}page/{% endif %}{{ href }}" class="page-link">{{ newer | safe }}</a>
        </li>
        {% for page in poster.pages %}
            {% if page %}
                <li {% if page == poster.page %} class="active page-item" {% else %} class="page-item" {% endif %}>
                    {% if page == 1 %}
                    <a href="{{ path_for(id='blog') | safe}}{{ tag_query }}" class="page-link">{{ page }}</a>
                    {% else %}
                    <a href="{{ path_for(id='blog') | safe}}page/{{ page }}/{{ tag_query }}"
                       class="page-link">{{ page }}</a>
                    {% endif %}
                </li>
            {% else %}
                ......
            {% endif %}
        {% endfor %}

        {% if poster.has_next %}
            {% set li_class = "" %}
            {% set href = poster.next_page ~ "/" ~ tag_query %}
        {% else %}
            {% set li_class = "disabled" %}
            {% set href = "#" %}
        {% endif %}
        <li class="{{ li_class }} page-item">
            <a href="{{path_for(id='blog') | safe}}page/{{ href }}" class="page-link">{{ older | safe }}</a>
        </li>
    </ul>
<!--/noindex-->
{% endif %}
