{% extends '../index.html' %}

{% block head %}
<style type="text/css">
.syntaxhighlighter { overflow-y: hidden !important; }
</style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <p class="text-muted"><i class="icon" data-label="calendar-alt"></i>&nbsp;<span class="date-from-now">{{ main_post.Created.Format("2006-01-02 15:04:05") }}</span></p>
            {% if content %}
                {{ content | safe }}
            {% else %}
                {{ main_post.ShortText | safe }}
            {% endif %}
                <div class="well well-sm">
                    <i class="icon" data-label="calendar-alt"></i> <span class="shortDate">{{ main_post.Created.Format("2006-01-02 15:04:05") }}</span>&nbsp;
                    {% if main_post.Tags %}
                        {% for tag in main_post.Tags %}
                           <a href="{{ ctx.PathFor('blog') }}#tag={{ tag }}" class="btn btn-default btn-sm">{{ tag }}</a>
                        {% endfor %}
                    {% endif %}
                    {% include '../bit/social.html' %}
                </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}

<script type="text/javascript">
    SyntaxHighlighter.defaults['toolbar'] = false;
    SyntaxHighlighter.all();
</script>

<script type="text/javascript">(function() {
  if (window.pluso)if (typeof window.pluso.start == "function") return;
  if (window.ifpluso===undefined) { window.ifpluso = 1;
    var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
    s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
    s.src = ('https:' === window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
    var h=d[g]('body')[0];
    h.appendChild(s);
  }})();</script>

{% endblock %}
