{% extends 'admin/base.html' %}

# block scripts
    <script>
        $(function(){
            $('.redactor').redactor({
                linebreaks: true,
                imageUpload: '{{ image_upload_handler }}'
            });
        });
    </script>
# endblock

# block content
<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">Редактирование поста <small>{{ post.title }}</small></h1>
        <form method="POST">
            {% include 'news/admin/post_fields.html' %}
            <div class="form-actions">
                <button type="submit"
                    class="btn btn-primary">
                    Сохранить пост
                </button>
                <button type="submit" class="btn btn-danger" name="delete_post">
                    Удалить
                </button>
                <a class="btn" href="{{ url_for('admin.news.index') }}">
                    Отмена
                </a>
            </div>
        </form>
    </div>
</div>

# endblock
