{% extends 'admin/base.html' %}
# import 'macro/forms.html' as forms

{% block scripts %}
    <script>
        $(function(){
            $('.redactor').redactor({
                linebreaks: true,
                minHeight: 200,
                xhtml: true,
                imageUpload: '{{ image_upload_handler }}',
                clipboardUploadUrl: '{{ image_upload_handler }}',
                allowedTags: ['p', 'blockquote', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'pre', 'code', 'br', 'em', 'strong', 'i', 'a', 'img', 'example', 'ul', 'ol', 'li', 'table', 'tr', 'td', 'link', 'abbr', 'acronym', 'dd', 'dt', 'dl', 'dfn', 'del', 'small', 'article', 'cite' ]
            });
        });
    </script>
{%  endblock %}

{% block content %}
<div class="row">
    <form method="POST">
        <div class="col-md-4">
            <h1 class="page-header">Мета информация</h1>

            {{form.csrf_token}}
            {{forms.text_field(form.created)}}
            {{forms.text_field(form.title, autofocus=True)}}
            {{forms.checkbox_field(form.is_public)}}
            {{forms.text_field(form.tags)}}

            <div class="form-actions">
                <button type="submit"
                    class="btn btn-primary">
                    Добавить пост
                </button>
                <a class="btn" href="{{ url_for('admin.news.index') }}">
                    Отмена
                </a>
            </div>
        </div>
        <div class="col-md-8">
            <h1 class="page-header">Тексты</h1>
            {{forms.redactor_field(form.short_text)}}
            {{forms.redactor_field(form.text, rows=10)}}
        </div>
    </form>
</div>
{% endblock %}
