*.pyc
*.pyo
.idea/
.DS_Store
.git*
.hg*
bower_components
static/dst
static/ext
static/fonts
static/min
static/dist
static/site_credentials.json
static/site_credentials_gh.json
templates/apache/
node_modules
temp/
.sonar/
intodev.bat
/static/auth_providers.json
/static/config.json
/static/validation/1A73EFF10EDA0237DC07FCBF43A5AF39.txt
egoroffspbrupri.pem
egoroffspbrupub.pem
/egoroff/target/
egoroff/egoroff_spb_ru.crt
egoroff/egoroff_spb_ru.key.pem
home/
target/rust-analyzer/