@fa-font-path:          "/p/font";
@navbar-default-bg: rgb(104, 148, 216);
@navbar-default-link-color: white;
@navbar-default-color: white;
@navbar-default-link-hover-color: #ddd;
@navbar-default-link-active-color: #eee;
