$font-family-sans-serif:  'Open Sans', Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       'Noto Serif', Georgia, "Times New Roman", Times, serif;
$font-family-base: $font-family-serif;
$headings-font-family:    $font-family-sans-serif;
$breadcrumb-divider: "→";

// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import '~bootstrap';
@import '~bootstrap-vue';

$footer-height: ($spacer * 2);

body {

  > .container, div#app div#breadcrumbs {
    padding-top: $spacer * 2;
    padding-bottom: $spacer * 2;
  }

  margin-bottom: $footer-height;
}

.alert-announcement {
  display: none;

  &.container {
    border-radius: 0;
    margin-bottom: 0;
    padding-left: $alert-padding-x;
    padding-right: $alert-padding-x;
    padding-top: $alert-padding-y;
    padding-bottom: $alert-padding-y;
  }

  > .close {
    right: 0;
  }
}

.img-error {
  max-width: 100%;
  margin: auto;
  display: block;
}

.nav, .navbar, .breadcrumb, .text-muted {
  font-family: $font-family-sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  display: table;
  width: 100%;
  height: $footer-height;
  border-top: 1px solid $hr-border-color;
  color: $text-muted;
  background-color: #f5f5f5;
  text-align: center;
  & > .container {
    display: table-cell;
    vertical-align: middle;
    p:last-child {
      margin-bottom: 0;
    }
  }
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

td {
  &.ellipsis {
    max-width: 0;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  small,
  .small {
    color: $gray-500;
  }
}

.tags {
  overflow: hidden;
  margin: 10px auto 30px;
  padding: 20px;
  line-height: 1.6em;
  span {
    font-weight: bold;
    font-style: italic;
  }
  a, span {
    position: relative;
    top: 0;
    left: -10px;
    z-index: 10;
    margin: 0;
    padding: 0 5px;
    color: #000;
    font-size: 1em;
    text-decoration: none;
  }
  a.tagRank1, span.tagRank1 {
    font-size: 2.8em;
  }
  a.tagRank2, span.tagRank2 {
    font-size: 2.6em;
    color: #222;
  }
  a.tagRank3, span.tagRank3 {
    font-size: 2.4em;
    color: #333;
  }

  a.tagRank4, span.tagRank4 {
    font-size: 2.2em;
    color: #444;
  }

  a.tagRank5, span.tagRank5 {
    font-size: 2em;
    color: #555;
  }

  a.tagRank6, span.tagRank6 {
    font-size: 1.8em;
    color: #666;
  }
  a.tagRank7, span.tagRank7 {
    font-size: 1.6em;
    color: #777;
  }
  a.tagRank8, span.tagRank8 {
    font-size: 1.4em;
    color: #888;
  }

  a.tagRank9, span.tagRank9 {
    font-size: 1.2em;
    color: #999;
  }

  a.tagRank10, span.tagRank10 {
    font-size: 1em;
    color: #AAA;
  }
  a:hover {
    text-decoration: underline;
    position: relative;
    z-index: 50;
    color: #F00;
  }
}

pre.code, code {
  color: #0d0d97;
}

code {
  background-color: transparent;
  border: none;
  padding: 0;
}

pre.code {
  font-family: "Courier New", Courier, monospace;
  font-size: 95%;
  background-color: transparent;
  border: none;
}

// Signin

$btn-padding-y: 0.5rem;
$btn-padding-y-lg: 0.75rem;
$btn-padding-y-sm: 0.25rem;
$btn-line-height: 1.25;
$btn-padding-x: 1rem;
$btn-padding-x-lg: 1.5rem;
$btn-padding-x-sm: 0.5rem;
$padding-base-horizontal: $btn-padding-y;
$padding-large-horizontal: $btn-padding-y-lg;
$padding-small-horizontal: $btn-padding-y-sm;

$bs-height-base: floor($btn-line-height + $btn-padding-x * 2);
$bs-height-lg: floor($btn-line-height + $btn-padding-x-lg * 2);
$bs-height-sm: floor($btn-line-height + $btn-padding-x-sm * 2);
$bs-height-xs: floor($btn-line-height + $btn-padding-x-sm * 2);

.btn-social {
  position: relative;
  padding-left: $bs-height-base + $padding-base-horizontal;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  > :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: $bs-height-base;
    line-height: $bs-height-base + 2;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
  }

  &.btn-lg {
    padding-left: $bs-height-lg + $padding-large-horizontal;

    > :first-child {
      line-height: $bs-height-lg;
      width: $bs-height-lg;
      font-size: 1.8em;
    }
  }

  &.btn-sm {
    padding-left: $bs-height-sm + $padding-small-horizontal;

    > :first-child {
      line-height: $bs-height-sm;
      width: $bs-height-sm;
      font-size: 1.4em;
    }
  }

  &.btn-xs {
    padding-left: $bs-height-xs + $padding-small-horizontal;

    > :first-child {
      line-height: $bs-height-xs;
      width: $bs-height-xs;
      font-size: 1.2em;
    }
  }
}

.btn-social {
  > :first-child {
    line-height: $btn-line-height !important;
    padding-top: $btn-padding-y !important;
    padding-bottom: $btn-padding-y !important;
    font-size: inherit !important;
  }

  &.btn-lg {
    > :first-child {
      line-height: $btn-line-height !important;
      padding-top: $btn-padding-y-lg !important;
      padding-bottom: $btn-padding-y-lg !important;
      font-size: inherit !important;
    }
  }
}

.btn-social-icon {
  @extend .btn-social;

  height: $bs-height-base;
  width: $bs-height-base;
  padding: 0;

  > :first-child {
    border: none;
    text-align: center;
    width: 100% !important;
  }

  &.btn-lg {
    height: $bs-height-lg;
    width: $bs-height-lg;
    padding-left: 0;
    padding-right: 0;
  }

  &.btn-sm {
    height: $bs-height-sm;
    width: $bs-height-sm;
    padding-left: 0;
    padding-right: 0;
  }

  &.btn-xs {
    height: $bs-height-xs;
    width: $bs-height-xs;
    padding-left: 0;
    padding-right: 0;
  }
}

@mixin btn-social($color-bg, $color: null) {
  @if $color {
    color: $color;
  }

  @include button-variant($color-bg, $color-bg);
}

.btn-facebook    { @include btn-social(#3b5998); }
.btn-google      { @include btn-social(#dd4b39); }
.btn-github     { @include btn-social(#444444); }
