{% extends 'file/admin/folders.html' %}

{% block side %}
    <a href="{{ url_for('admin.file.index')}}" class="btn">&larr; Назад</a>
{% endblock %}

{% block file_content %}
    <h1>Добавление новой папки</h1>
    <form class="form-inline" method="POST" action="">
        <fieldset>
            {% include 'file/admin/folder_fields.html' %}

            <div class="form-actions">
                <button type="submit"
                        class="btn btn-primary btn-loading"
                        data-loading-text="Сохранение..">
                    Добавить
                </button>
            </div>
        </fieldset>
    </form>
{% endblock %}