{% strip %}
# if breadcrumbs
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                {% block breadcrumbs %}
                    {% for item in breadcrumbs %}
                        <li>
                            <a href="{{ url_for(item[0]) }}">{% if item[2] %}<i class="{{ item[2] }}"></i>
                                &nbsp;{% endif %}{{ item[1] }}</a>
                        </li>
                    {% endfor %}
                    <li class="active">
                        {{ title }}
                    </li>
                {% endblock %}
            </ol>
        </div>
        <hr>
    </div>
</div>
# endif
{% endstrip %}