/* examples               */
/* ====================== */
pre.code {
	font-family: "Courier New", Courier, monospace;
	font-size: 95%;
}

div.example {

    color: #000;
    padding: 0.5em;
    margin: 1em 2em 1em 1em;
    width: 50%;
}

/* example inside a note:
 * blue in gray doesn't look good
 * so simply draw a border around
 * and keep it gray
 */
div.note div.example,
div.warning div.example {

    background-color: transparent;
    color: inherit;
    margin-right: 1em;
}

/* example inside table */
table div.example {
    margin-right: 1em;
}

/* the following [block] elements
 * may appear inside example...
 */
div.example p,
div.example pre,
div.example table {
    padding: 0;
    margin: 0;
}

div.example p {
    line-height: 1em;
}

div.note,
div.warning {
	background-color: #eee;
	color: #036;
	padding: 0.5em;
	margin: 1em 2em 1em 1em
}

div.warning {
	border: 1px solid #f00
}

div.note p,
div.warning p {
	margin: 0.5em 0 0 0;
	padding: 0
}

div.directive div.td, div.directive div.th {
    padding: 3px;
}