<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">

            <ul class="nav span2">
                <li>
                    <a class="brand" href="{{url_for('admin_config_update')}}">
                        {{ config.BRAND_NAME }}
                    </a>
                </li>
            </ul>

            <nav class="nav span7">
                <ul class="nav">
                    <li>
                        <a href="{{ url_for('admin.news.index') }}">Блог</a>
                    </li>
                    <li>
                        <a href="{{ url_for('admin.file.index') }}">Файлы</a>
                    </li>
                </ul>
            </nav>

            <ul class="nav pull-right">
                <li>
                    <a href="{{ url_for('welcome') }}">
                        <i class="icon-backward"></i>
                        Вернуться на сайт
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
