{% extends 'base.html' %}

{% block content %}
    {% strip %}
    <div class="page-header">
        <h1>
            {{ current_title }}
            <small>
                тут я делюсь
            </small>
        </h1>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h1>Про апачей</h1>
            {% include 'portfolio/apache_documents_list.html' %}
        </div>
        <div class="col-lg-6">
            <h1>Загрузки</h1>
            {% include 'portfolio/downloads.html' %}
        </div>
    </div>
    {% endstrip %}
{% endblock %}