{% extends 'base.html' %}

{% block content %}
    <div class="row-fluid">
    <div class="span9">
        <div class="span12">
            <h1 class="page-header">
                {{ title }}
            </h1>
        </div>
        <div class="span12">
          <!--Body content-->
          {% include 'portfolio/apache_documents_list.html' %}
        </div>
    </div>
    <div class="span3">
        <div class="span12">
            <h1 class="page-header">
                Подразделы
            </h1>
        </div>
        <div class="span12">
          <!--subsections-->
        </div>
    </div>
    </div>
{% endblock %}