{% extends 'base.html' %}

{% block content %}

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span10">
                {% if not apache_docs %}
                {{ html | typo | safe }}
                {% else %}
                    <p>Пока ничего нет, но можно почитать другое :)</p>
                    {% include 'portfolio/apache_documents_list.html' %}
                {% endif %}
            </div>
            <div class="span2">
                {% include 'bit/small_banner.html' %}
                {% include 'bit/small_banner.html' %}
                {% include 'bit/small_banner.html' %}
            </div>
        </div>
    </div>
{% endblock %}