{% extends 'base.html' %}

{% block content %}

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <!--Body content-->
                {{ html | safe }}
            </div>
        </div>
    </div>
{% endblock %}

{% block additional_css %}
    <link href="/apache/css/common.css" rel="stylesheet">
    <link href="/apache/css/apache.css" rel="stylesheet">
{% endblock %}

{% block breadcrumbs %}
    <li>
        <a href="{{ url_for('welcome') }}">Главная</a>
        <span class="divider"> &rarr; </span>
    </li>
    <li>
        <a href="{{ url_for('portfolio.index') }}">Портфель</a>
        <span class="divider"> &rarr; </span>
    </li>
    <li class="active">
        {{ page_title }}
    </li>
{% endblock %}