{% extends 'base.html' %}

{% block content %}
    <div class="row-fluid">
        <div class="span9">
            <div class="span12">
                <h1 class="page-header">
                    {{ title }}
                </h1>
            </div>
            <div class="span12">
                {% for download in downloads %}
                <h2> {{ download }}</h2>
                    {% for f in downloads[download] %}
                    <li class="thumbnails">
                        <a class="icon-download-alt" href="{{ f.url }}"
                           onclick="_gaq.push(['_trackPageview', '{{ f.url }}']);">
                            &nbsp;{{ f.description }}</a>&nbsp;
                        <small><i class="icon-calendar"></i> <span
                                class="shortDateFormat">{{ f.created }}</span></small>
                    </li>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        <div class="span3">
            <div class="span12">
                <h1 class="page-header">
                    Подразделы
                </h1>
            </div>
            <div class="span12">
                {% include 'bit/sidebar.html' %}
            </div>
        </div>
    </div>
{% endblock %}