
<!--noindex-->
{% if not archive %}
    <p>Ничего нет</p>
{% else %}
<div id="accordion">
    {% for year in archive %}
    <h3>{{ year.Year }}</h3>
    <div class="list-group">
        <a class="list-group-item" href="#year={{ year.Year }}">За весь год ({{year.Posts}})</a>
        {% for month in year.Months %}
        <a class="list-group-item" href="#year={{ year.Year }}&month={{ month.Month}}">{{ month.Name }} ({{month.Posts}})</a>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endif %}
<!--/noindex-->
