<script id="blog" type="text/html">
    <dt>
        <small>
            <i class="icon-calendar"></i> <span class="shortDateFormat" data-bind="text: created"></span>
        </small>&nbsp;
        <!-- ko ifnot: id() == '{{ key_id }}' -->
        <a data-bind="text: title, attr: { href: '{{ url_for('news.index') }}' + id() + '.html'  }"></a>
        <!-- /ko -->
        <!-- ko if: id() == '{{ key_id }}' -->
        <span data-bind="text: title"></span>
        <!-- /ko -->
    </dt>
    <dd data-bind="html: short_text"></dd>
</script>

<script id="morePosts" type="text/html">
    <!-- ko ifnot: $parent.hideAddButton -->
    <button class="btn btn-default btn-large btn-primary btn-block" id="moreNews" type="button" data-bind="click: $parent.getPosts">Больше записей</button>
    <!-- /ko -->
</script>