
{% if breadcrumbs %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                {% block breadcrumbs %}
                    {% for item in breadcrumbs %}
                        <li>

                        </li>
                    {% endfor %}
                    <li class="active">
                        {{ title }}
                    </li>
                {% endblock %}
            </ol>
        </div>
        <hr>
    </div>
</div>
{% endif %}
