
<header class="navbar navbar-default navbar-static-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
       <a class="navbar-brand" href="{{url_for('welcome')}}">{{config.brand_name}}</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
          {% include 'top_nav.html' %}
      </ul>

     <form method="GET" id="search-form-top" class="navbar-form navbar-left" role="search" action="{{url_for('search')}}" novalidate>
        <div class="form-group form-group-sm">
            <label class="sr-only" for="q_top">форма поиска</label>
            <input id="q_top" name="q" class="form-control" type="text" value=""/>
        </div>
        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i> Поиск</button>
     </form>

      <ul class="nav navbar-nav navbar-right">
          {%  include 'user_menu.html' %}
      </ul>
    </nav>
  </div>
</header>

