<!DOCTYPE html>
{% autoescape true %}
{% strip %}
<html class="{% block html_class %}{{html_class}}{% endblock %}" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      # block title
        # if title
          {{title}}&nbsp;|&nbsp;
        # endif
      # endblock
      {{config.CONFIG_DB.brand_name}}
    </title>
    <link href="{{ url_for('news.recent_feed') }}"
      rel="alternate"
      title="Recent Posts"
      type="application/atom+xml">
    # include 'bit/style.html'
    # block head
    # endblock
<script>
  (function() {
    var cx = '006596644808879549558:WMX-188601290';
    var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
  })();
</script>
    # include 'bit/analytics.html'
  </head>

  <body>
    # include 'bit/top_bar.html'
    # include 'bit/breadcrumbs.html'
    <div class="container-fluid main-container">
      # include 'bit/notifications.html'
      # block content
      # endblock
    </div>
    # include 'bit/footer.html'
    # include 'bit/script.html'
    # if not current_user.admin and config.CONFIG_DB.analytics_id
        <script type="text/javascript">
          jQuery.error = function (message) {
              _gaq.push(['_trackEvent', 'jQuery Error', message, navigator.userAgent]);
          }
        </script>
    # endif
    # block scripts
    # endblock
  </body>
</html>
{% endstrip %}
{% endautoescape %}