{% extends "/templates/page.html" %}

{% block content %}

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <!--Sidebar content-->
          <p>Sidebar content</p>
        </div>
        <div class="span10">
          <!--Body content-->
          <dl>
          {% for item in apache_docs %}
                <dt><a href="./{{ item }}.html">{{ apache_docs[item][1] }}</a></dt>
                <dd>{{ apache_docs[item][2] }}</dd>
          {% endfor %}
          </dl>
        </div>
      </div>
    </div>
{% endblock %}