{% extends "/templates/page.html" %}

{% block content %}

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <!--Sidebar content-->
          <p>Sidebar content</p>
        </div>
        <div class="span10">
          <!--Body content-->
          <ul>
          {% for item in apache_docs %}
                <li><a href="./{{ item }}.html">{{ item }}</a></li>
          {% endfor %}
          </ul>
        </div>
      </div>
    </div>
{% endblock %}