{% extends 'base.html'

{% block content %}

      <div class="row">
        <div class="col-lg-8">
            <label class="sr-only" for="q">форма поиска</label>
            <input id="q" name="q" class="form-control" type="text" value=""/>
        </div>
        <div class="col-lg-4">
            <a id="start_search" class="btn btn-primary"><i class="fa fa-search"></i> Искать</a>
        </div>
      </div>

    <div class="row">
          <div class="col-lg-12">
                <br/>
                <div class="text-muted" data-bind="if: displayResults">Результатов: примерно <span data-bind="text: totalResults"></span><nobr> (<span data-bind="text: searchTime"></span> cек.)</nobr><p/></div>
                <dl data-bind="template: { name: 'customsearch', foreach: items }"></dl>

              <ul class="pagination" id="search-pager" data-bind="template: { name: 'pages', foreach: pages }">
               </ul>
          </div>
    </div>
{% endblock %}

{% block scripts %}

<script id="customsearch" type="text/html">
    <dt>
        <a data-bind="html: htmlTitle, attr: { href: link  }"></a><br/>
        <span class="text-muted small" data-bind="html: htmlFormattedUrl"></span>
    </dt>
    <dd class="small" data-bind="html: htmlSnippet"></dd>
    <br/>
</script>

<script id="pages" type="text/html">
    <li data-bind="attr: { class: cls  }">
        <a data-bind="text: title, attr: { href: link }"></a>
    </li>
</script>

<script type="text/javascript">

    m = new window.SearchModel();
    ko.applyBindings(m);

    function runSearch(params) {
        searchquery = {
            "q" : $( "#q" ).val(),
            "key" : "{{ search.key }}",
            "cx" : "{{ search.cx }}"
        };
        if(params) {
            for (var attrname in params) {
                searchquery[attrname] = params[attrname];
            }
        }
        m.dosearch('{{ action_uri }}', searchquery);
    }

    $( "#q").keypress(function(e) {
        if ( e.which != 13 ) {
            return;
        }
        runSearch();
    });

    $( "#start_search" ).click(function() {
        runSearch();
    });

    $("#search-pager").on('click', 'li > a', function(event) {
        var ix = parseInt(event.target.hash.slice(1), 10) - 1;

        $('#search-pager > li').removeClass('active');
        $(this).parent('li').addClass('active');
        var start = 10 * ix + 1;
        runSearch( { "start" : start });
    });

    $( document ).ready(function() {
        var q = window.getParameterByName('q');
        if(q) {
           $( "#q" ).val(q);
           runSearch();
        }
    });

</script>

{% endblock %}