# extends 'base.html'

# block content
<!-- Example row of columns -->
<div class="row">
    <div class="span6">
        <h2><a href="{{ url_for('news.index') }}">Блог</a></h2>
        {% if posts %}
            <dl>
            {% for post in posts %}
                    {% include 'news/post_box.html' %}
            {% endfor %}
            </dl>
        {% else %}
            <p>Пока ничего нового.</p>
        {% endif %}
    </div>
    <div class="span6">
        <h2>Про апачей</h2>
        {% include 'portfolio/apache_documents_list.html' %}
    </div>
</div>
# endblock
