{% extends "index.html" %}

{% block content %}
<div class="container">
    {% include "bit/notifications.html" %}
  <div class="pb-2 mt-4 mb-2 border-bottom">
    <h1>{{title}} <small>Займет только несколько секунд!</small></h1>
  </div>

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <a class="btn btn-lg btn-social btn-google w-100 mb-2" href="{{google_signin_url}}">
        <i class="icon" data-label="google" datatype="fab"></i>
        Авторизация через Google
      </a>

      <a class="btn btn-lg btn-social btn-github w-100 mb-2" href="{{github_signin_url}}">
        <i class="icon" data-label="github" datatype="fab"></i>
        Авторизация через Github
      </a>

      <a class="btn btn-lg btn-social btn-yandex w-100" href="{{yandex_signin_url}}">
        <i class="icon" data-label="yandex" datatype="fab"></i>
        Авторизация через Yandex
      </a>
    </div>
  </div>
</div>
{% endblock %}
