{% extends "index.html" %}

{% block content %}
<div class="container">
    {% include "bit/notifications.html" %}
  <div class="pb-2 mt-4 mb-2 border-bottom">
    <h1>{{title}} <small>Займет только несколько секунд!</small></h1>
  </div>

  <div class="row">
    <div class="col-lg-6 col-lg-offset-6 col-md-4 col-md-offset-6 col-sm-6 col-sm-offset-3">
      <a class="btn btn-block btn-lg btn-social btn-google" href="{{google_signin_url}}" rel="nofollow">
        <i class="icon" data-label="google" datatype="fab"></i>&nbsp;
        Авторизация через Google
      </a>
      <a class="btn btn-block btn-lg btn-social btn-github" href="{{github_signin_url}}" rel="nofollow">
          <i class="icon" data-label="github" datatype="fab"></i>
        Авторизация через Github
      </a>
      <a class="btn btn-block btn-lg btn-social btn-yandex" href="{{yandex_signin_url}}" rel="nofollow">
          <i class="icon" data-label="yandex" datatype="fab"></i>
        Авторизация через Yandex
      </a>

    </div>
  </div>
</div>
{% endblock %}
