{% extends 'index.html' %}

{% block meta %}
<meta name="google-site-verification" content="PHs3gMRw0_sIAdVqjk38_fbq9h3VGHkkIq3w1chJXWs"/>
<meta name='yandex-verification' content='4c9a9332153bb06f' />
{% endblock %}

{% block content %}
<div class="container">
    {% include 'bit/notifications.html' %}
    <div class="pb-2 mt-4 mb-2 border-bottom">
        <h1>
            egoroff.spb.ru
            <small>
                блог о программировании
            </small>
        </h1>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <h2><a href="{{ path_for(id='blog') | safe }}">Блог</a></h2>
            {% if posts %}
            <dl itemscope itemtype="http://schema.org/BlogPosting" id="log">
                {% for post in posts %}
                {% include 'blog/post_box.html' %}
                {% endfor %}
            </dl>
            {% else %}
            <p>Пока ничего нового.</p>
            {% endif %}
        </div>
        <div class="col-lg-6">
            <h2>Про апачей</h2>
            {% include 'portfolio/apache_documents_list.html' %}
        </div>
    </div>
</div>
{% endblock %}
