{% strip %}
{% if not archieve %}
    <p>Ничего нет</p>
{% else %}
    <div id="accordion">
        {% for year in archieve | sort(reverse=True) %}
            <h3>{{ year }}</h3>
            <div class="list-group">
                {% for month in archieve[year] %}
                    <a class="list-group-item" href="#year={{ year }}&month={{ month[0] }}">{{ month | month_tuple_to_string }}</a>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endstrip %}