{% strip %}
<!--noindex-->
{% if not archieve %}
    <p>Ничего нет</p>
{% else %}
    <div id="accordion">
        {% for year in archieve | sort(reverse=True) %}
            <h3>{{ year }}</h3>
            <div class="list-group">
                {% for month in archieve[year] %}
                    {% set link = "#year=" ~ year  %}
                    {% if month[0] <= 12 %}
                        {% set link = link ~ "&month=" ~ month[0] %}
                    {% endif %}
                    <a class="list-group-item" href="{{ link }}">{{ month | month_tuple_to_string }}</a>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endif %}
<!--/noindex-->
{% endstrip %}