{% extends 'base.html' %}

# block scripts
<script type="text/javascript">
    $(function () {
        $("#accordion").accordion({
            collapsible: true,
            heightStyle: "content",
            header: "h3",
            icons: false
        });
    });
</script>

# include 'news/blog_model.html'

<script type="text/javascript">
    vm = new window.BlogViewModel();
    ko.applyBindings(vm);
    vm.titleExt("тут я пишу");

    window.LoadBlog = function(query, tExt) {
        vm.loadBlog(query, tExt);
    };

    $( document ).ready(function() {
        vm.setEventHandlers();
    });

</script>
# endblock

# block content
    {% strip %}
    <div class="row">
        <div class="col-lg-9">
            <div class="page-header">
                <h1>
                    {{ current_title }}
                    <small data-bind="text: titleExt">тут я пишу</small>
                </h1>
            </div>
            {% if not posts %}
                Ничего нет
            {% else %}
                <dl itemscope itemtype="http://schema.org/BlogPosting" id="blogcontainer">
                    {% for post in posts.object_list %}
                        {% include 'news/post_box.html' %}
                    {% endfor %}
                </dl>
                <dl id="log" data-bind="template: {
                        name: 'blog',
                        foreach: blogPosts,
                        afterRender: postProcessingLogic
                        }">
                </dl>
            {% endif %}
            {% include 'news/paginator.html' %}
        </div>
        <div class="col-lg-3">
            <h3>Метки</h3>
            {% include 'news/tags.html' %}
            <h3>Архив</h3>
            {% include 'news/archive.html' %}
        </div>
    </div>
    {% endstrip %}
# endblock