{% extends 'base.html' %}

# block scripts
<script>
    $(function () {
        $("#accordion").accordion({
            collapsible: true,
            heightStyle: "content",
            header: "h3",
            icons: false
        });
    });
</script>

# include 'news/blog_model.html'

<script>
    vm = new window.BlogViewModel();
    ko.applyBindings(vm);

    window.LoadBlog = function(query) {
        vm.getPostsUsingQuery(query, false);
    };

    $( document ).ready(function() {
        if(window.location.hash) {
            var href = window.location.hash;
            var vars = href.split('&');
            vars.forEach(function (v) {
                var pair = v.split('=');
                if(pair[0] == '#tag') {
                    var e = $.Event("click");
                    $('#t_' + pair[1]).trigger(e);
                }
            });
        }
    });

</script>
# endblock

{% block head %}

{% endblock %}


{% block content %}
    {% strip %}
    <div class="row">
        <div class="col-md-9">
            {% if not posts %}
                Ничего нет
            {% else %}
                <dl id="blogcontainer">
                    {% for post in posts.object_list %}
                        {% include 'news/post_box.html' %}
                    {% endfor %}
                </dl>
                <dl id="log" data-bind="template: {
                        name: 'blog',
                        foreach: blogPosts,
                        afterRender: postProcessingLogic
                        }">
                </dl>
            {% endif %}
            {% include 'news/paginator.html' %}
        </div>
        <div class="col-md-3">
            <h3>Метки</h3>
            {% include 'news/tags.html' %}
            <h3>Архив</h3>
            {% include 'news/archive.html' %}
        </div>
    </div>
    {% endstrip %}
{% endblock %}