{% strip %}
{% if posts.paginator.num_pages > 1 %}
    {% if "tag" in request.args %}
        {% set tag_query = "?tag=" + request.args["tag"] %}
    {% else %}
        {% set tag_query = "" %}
    {% endif %}
    {% set older = "старее &rarr;" %}
    {% set newer = "&larr; новее" %}
    <ul class="pager">
        {% if posts.has_previous %}
            {% set li_class = "previous" %}
            {% set href = url_for('news.index', page=posts.previous_page_number) + tag_query %}
        {% else %}
            {% set li_class = "disabled previous" %}
            {% set href = "#" %}
        {% endif %}

        <li class="{{ li_class }}">
            <a href="{{ href }}"
               class="prev">{{ newer | safe }}</a>
        </li>

        {% if posts.has_next %}
            {% set li_class = "next" %}
            {% set href = url_for('news.index', page=posts.next_page_number) + tag_query %}
        {% else %}
            {% set li_class = "next disabled" %}
            {% set href = "#" %}
        {% endif %}

        <li class="{{ li_class }}">
            <a href="{{ href }}"
               class="next">{{ older | safe }}</a>
        </li>
    </ul>
    <ul class="pagination pagination-sm">
        {% for page in posts.paginator.page_range %}
            {% if page %}
                <li {% if page == posts.number %} class="active" {% endif %}>
                    <a href="{{ url_for('news.index', page=page) }}{{ tag_query }}"
                       class="page">{{ page }}</a>
                </li>
            {% else %}
                ......
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
{% endstrip %}