{% extends 'base.html' %}

# block head
<style type="text/css">
.syntaxhighlighter { overflow-y: hidden !important; }
</style>
# endblock

{% block content %}
    <div class="row">
        <div class="col-md-9">
            <p class="muted"><i class="icon-calendar"></i>&nbsp;<span class="date-from-now">{{ main_post.created }}</span></p>
            {% if content %}
                {{ content | typo | safe }}
            {% else %}
                {{ main_post.short_text | typo | safe }}
            {% endif %}
            {% if main_post.tags %}
                <div class="well well-small">
                    Метки:&nbsp;
                    {% for tag in main_post.tags %}
                       <a href="{{ url_for('news.index') }}#tag={{ tag }}" class="btn">{{ tag }}</a>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="well well-small">
                <h3>
                    <small><i class="icon-calendar"></i> <span class="shortDateFormat">{{ main_post.created }}</span></small>
                    {% include 'bit/social.html' %}
                </h3>
            </div>
            {% include 'bit/disqus.html' %}
        </div>
        <div class="col-md-3">
            <!--noindex-->
            <h4>
                Из последнего
            </h4>
            <dl id="log" data-bind="template: {
                        name: 'blog',
                        foreach: blogPosts,
                        afterRender: postProcessingLogic
                        }"></dl>

            <div class="col-md-12" data-bind="template: {
                        name: 'morePosts',
                        data: blogPosts
                        }">

            </div>
            <input type="hidden" name="offset" id="offsetValue" value="{{ offset }}"/>
            <input type="hidden" name="limit" id="limitValue" value="{{ limit }}"/>
            <input type="hidden" name="seed" id="seedValue" value="{{ seed }}"/>
            <!--/noindex-->
        </div>
    </div>
{% endblock %}

# block scripts

<script type="text/javascript">
    SyntaxHighlighter.defaults['toolbar'] = false;
    SyntaxHighlighter.all();
</script>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js">
  {lang: user_lang()}
</script>
<script type="text/javascript">
function renderPlusone() {
    gapi.plusone.render("plusone-div", { "size": "small" });
}
renderPlusone();
</script>

# include 'news/blog_model.html'

<script>
    vm = new window.BlogViewModel();
    vm.getPosts();
    ko.applyBindings(vm);
</script>

# endblock