<!DOCTYPE html>
<html class="{% block html_class %}{{html_class}}{% endblock %}" lang="ru">
{% strip %}
  <head>
    <meta charset="utf-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="author" content="Александр Егоров">
    {% if meta_description %}
        <meta name="description" content="{{ meta_description }}">
    {% endif %}
    {% if keywords %}
        <meta name="keywords" content="{{ keywords }}">
    {% endif %}
    # block meta
    # endblock
    <title>
      # block title
        {{title + ' |' if title}}
        {{current_title + ' |' if current_title}}
      # endblock
      {{config.CONFIG_DB.brand_name}}
    </title>
    <link href="{{ url_for('news.recent_feed') }}"
      rel="alternate"
      title="Recent Posts"
      type="application/atom+xml">
    # include 'bit/style.html'
    # block head
    # endblock
    # include 'bit/analytics.html'
  </head>
{% endstrip %}
  <body>
<!--noindex-->
    # block topnav
        # include 'bit/header.html'
    # endblock
    # include 'bit/breadcrumbs.html'
<!--/noindex-->
    # include 'bit/announcement.html'
    # block header
    # endblock
    # block maincontainer
    <div class="container">
      # include 'bit/notifications.html'
      # block content
      # endblock
    </div>
    # endblock
<!--noindex-->
    # include 'bit/footer.html'
    # include 'bit/script.html'
    # block scripts
    # endblock
<!--/noindex-->
  </body>
</html>
