# extends 'base.html'

# block bodyTag
    <body ng-controller="SearchController">
# endblock

# block content
    {% strip %}

      <div class="row">
        <div class="col-lg-8">
            <label class="sr-only" for="q">форма поиска</label>
            <input id="q" name="q" class="form-control" type="text" value=""/>
        </div>
        <div class="col-lg-4">
            <a id="start_search" class="btn btn-primary"><i class="fa fa-search"></i> Искать</a>
        </div>
      </div>

    {% endstrip %}

    <div class="row">
          <div class="col-lg-12">
                <br/>
                <div class="text-muted" ng-bind="displayResults">Результатов: примерно <span ng-bind="totalResults"></span><nobr> (<span ng-bind="searchTime"></span> cек.)</nobr><p/></div>
                <dl ng-repeat="item in items">
                    <dt>
                        <a ng-bind-html="htmlTitle" ng-href="link"></a><br/>
                        <span class="text-muted small" ng-bind-html="htmlFormattedUrl"></span>
                    </dt>
                    <dd class="small" ng-bind-html="htmlSnippet"></dd>
                    <br/>
                </dl>

                <ul class="pagination" id="search-pager" ng-repeat="page in pages">
                  <li ng-class="cls">
                    <a ng-bind="title" ng-href="link"></a>
                  </li>
                </ul>
          </div>
    </div>
# endblock

# block scripts

<script type="text/javascript">

    function runSearch(params) {
        searchquery = {
            "q" : $( "#q" ).val(),
            "key" : "{{ search.key }}",
            "cx" : "{{ search.cx }}"
        };
        if(params) {
            for (var attrname in params) {
                searchquery[attrname] = params[attrname];
            }
        }
        dosearch('{{ action_uri }}', searchquery);
    }

    $( "#q").keypress(function(e) {
        if ( e.which != 13 ) {
            return;
        }
        runSearch();
    });

    $( "#start_search" ).click(function() {
        runSearch();
    });

    $("#search-pager").on('click', 'li > a', function(event) {
        var ix = parseInt(event.target.hash.slice(1), 10) - 1;

        $('#search-pager > li').removeClass('active');
        $(this).parent('li').addClass('active');
        var start = 10 * ix + 1;
        runSearch( { "start" : start });
    });

    $( document ).ready(function() {
        var q = window.getParameterByName('q');
        if(q) {
           $( "#q" ).val(q);
           runSearch();
        }
    });

</script>

# endblock